<clickhouse>
    <logger>
        <level>warning</level>
        <console>1</console>
    </logger>
    <max_connections>1000</max_connections>
    <max_concurrent_queries>100</max_concurrent_queries>
    <max_server_memory_usage_to_ram_ratio>0.75</max_server_memory_usage_to_ram_ratio>
</clickhouse>
