go 1.23

use (
	./services/ai
	./services/auth
	./services/backup
	./services/billing
	./services/dbmanager
	./services/devops
	./services/dns
	./services/docker
	./services/domains
	./services/filemanager
	./services/gateway
	./services/mail
	./services/marketplace
	./services/monitoring
	./services/notification
	./services/security
	./services/webserver
)
